<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Bienvenue sur AlainWebStore !</h1>
                <p>Nous sommes ravis de vous rencontrer ce <strong>{{todayDate}}</strong> !</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Notre équipe</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center aboutImage" src="../../Content/Images/ressources/alain.jpg" alt="">
            <h3>
                Alain (philosophe)
                <small>Philosophe</small>
            </h3>
            <p>Alain, de son vrai nom Émile-Auguste Chartier est un journaliste, essayiste et professeur de philosophie.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center aboutImage" src="../../Content/Images/ressources/alainSouchon.jpg" ">
            <h3>
                Alain Souchon
                <small>Auteur-compositeur</small>
            </h3>
            <p>Alain Souchon, né Alain Kienastn 1, est un auteur-compositeur-interprète et acteur franco-suisse.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center aboutImage" src="../../Content/Images/ressources/alainFournier.jpg" alt="">
            <h3>
                Alain-Fournier
                <small>Ecrivain</small>
            </h3>
            <p>Alain-Fournier, demi-pseudonyme d'Henri-Alban Fournier st un écrivain français.</p>
        </div>
    </div>
</div>
